# Notas de la documentacion

### Conceptos básicos de cadenas en Python

In [8]:
# Aunque puede parecer que hemos modificado la variable , 
# una comprobación rápida del valor revela que el valor original no ha cambiado:fact
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon.'
fact

'The Moon has no atmosphere.'

In [7]:
# El truco aqui es agregarle el resultado a una nueva variable para asi se imprima
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

#### Acerca del uso de comilla

In [10]:
# Puedes incluir cadenas de Python entre comillas simples, dobles o triples.
moon_radius = "The Moon has a radius of 1,080 miles"
moon_radius

'The Moon has a radius of 1,080 miles'

In [13]:
# Cuando una cadena contiene palabras, números o caracteres especiales
# (una subcadena) que también están entre comillas, debes usar un estilo diferente.
'The "near side" is the part of the Moon that faces the Earth'
# Si no se alternan comillas simples y dobles, 
# el intérprete de Python puede provocar un error de sintaxis
"We only see about 60% of the Moon's surface"
# Si no se alternan comillas simples y dobles, 
# el intérprete de Python puede provocar un error de sintaxis

# Cuando el texto tiene una combinación de comillas simples y dobles, 
# puedes utilizar comillas triples para evitar problemas con el intérprete
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

#### Texto Multilinea

In [15]:
# Hay varia formas de definir varia lieas de texto
# Caracter de nueva linea (\n)
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

In [16]:
# Comillas triples (""")..
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)

Facts about the Moon:
...  There is no atmosphere.
...  There is no sound.

### Metodos string en Python

In [17]:
# Mismo comportamiento y uso ocurre en una variable
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [18]:
# Se puede utilizar con cadena de forma directa str .title()
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

#### Dividir una cadena

In [19]:
# El método separará la cadena en cada espacio.
# Esto crearía una lista de cada palabra o número 
# que está separado por un espacio:      .split()
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', '...', 'Nighttime:', '-280', 'F']

In [20]:
#se trata de varias líneas, por lo que el carácter de nueva línea (implícito) 
# se puede utilizar para dividir la cadena al final de cada línea, 
# creando líneas individuales
temperatures .split('\n')
# útil cuando necesita un bucle para procesar o extraer información, 
# o cuando está cargando datos de un archivo de texto u otro recurso.

['Daylight: 260 F', '... Nighttime: -280 F']

#### Buscar una cadena

In [22]:
# La forma más sencilla de descubrir si existe una palabra,
# un carácter o un grupo de caracteres determinados en una 
# cadena es sin usar un método
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [23]:
'Moon' in 'This text will describe facts about the Moon'

True

In [26]:
# Para encontrar la posicion de una palabra especifica
# puede ser con el metodo .find()
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')
# La salida es -1 ya que no se encuentra la palabra

-1

In [28]:
# Si se busca la palabra Mars
temperatures.find('Mars')
# La salida es 68 ya que es la posicion donde se encuentra

68

In [30]:
# Otra forma de buscar contenido es con el metodo .count()
# este devuelve el numero total de apariciones de la palabra
temperatures.count('Mars')
# Salida 1 ya que solo aparece una sola vez en el texto

1

In [31]:
temperatures.count('Moon')
# Salida 0 ya que no aparece en el texto

0

In [32]:
# Python distingue entre mayusculas y minusculas
# Para convertir una cadena en letras minusculas usamos el metodo .lower()
"The Moon And The Earth".lower()

'the moon and the earth'

In [33]:
# Para covertir la cadena en mayusculas es con el metodos .upper()
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

#### Comprobar el contenido

In [34]:
# En ocasiones habra texto irregular 
temperatures = 'Mars Average Temperature: -60 C'

In [35]:
# Para extraer el dato de la temperatura promedio de Mars,
# se puede con el siguiente Metodo
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [36]:
# De igual forma
parts[-1]

' -60 C'

In [43]:
# Si el texto es irregular no se puede usar los mismos metodos de division
# Por lo que es necesario Iterar y coprobar si los valores son de un tipo
# Python tiene métodos que ayudan a comprobar el tipo de cadena:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [44]:
# Hay metodos con los cuales comprobar si hay cadenas que parezcan decimales
# tales como:    .isnumeric()    .isdecimal()
# Dato: Los numeros negativos NO son detectados por .isnumeric() 
# por lo que se utiliza .startswith()
'-60'.startswith('-')

True

In [45]:
# Claro ejemplo de lo anterior
"-70".isnumeric()

False

In [46]:
# Del mismo modo, el método ayuda a verificar el último
# carácter de una cadena:             .endswith()
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

#### Transformar texto

In [48]:
# Puedes utilizar el método para buscar y reemplazar apariciones
# de un carácter o grupo de caracteres:  C  F  .replace()
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

In [49]:
# Se revisa si se distingue las temperaturas (mayúsculas y minúsculas)
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [50]:
# Aqui el texto se cambio a minuscilas por lo que ahora debe de ser verdadero
'temperatures' in text.lower()

True

In [53]:
# Metodo para separar y unir caracteres .split()   .join()
moon_facts = ['The Moon is drifting away from the Earth.', 
'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

### Formato de cadenas en Python

In [ ]:
# Te resultará fundamental obtener información en variables y otras 
# estructuras de datos en cadenas que puedan usar .print()print()

#### Formato con signo de porcentaje (%)

In [54]:
# El marcador de posición es , y la variable 
# se pasa al texto después del carácter fuera de la cadena
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [58]:
# El uso de múltiples valores cambia la sintaxis,
#  ya que requiere paréntesis para rodear las variables
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))
# Este metodo puede dar errores y una disminucion de claridad en el codigo

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [59]:
# El metodo format() El método utiliza llaves como marcadores de 
# posición dentro de una cadena y utiliza la asignación
# de variables para reemplazar el texto.        .format()   ({})
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'
.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [60]:
# No es necesario repetir variables lo que lo hace mas detallado
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
... you would weigh about 1/6 of your weight on Earth

In [61]:
#  
print("""You are lighter on the {moon}, because on the {moon} 
... you would weigh about {mass} of your weight on Earth""".format(moon="Moon", mass=mass_percentage))

You are lighter on the Moon, because on the Moon
... you would weigh about 1/6 of your weight on Earth

#### Acerca de las cadenas con f

In [62]:
# Uso de f-string
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')
# Las variables van dentro de llaves y la cadena debe usar el prefijo f

On the Moon, you would weigh about 1/6 of your weight on Earth

In [63]:
# Estas expresiones pueden ser funciones u operaciones directas
# Si deseas representar el valor como un porcentaje con un decimal, 
# puede utilizar la función directamente:1/6round()
round(100/6, 1)

16.7

In [64]:
# Con las cadenas f, no es necesario asignar un valor a una variable de antemano
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [65]:
# El uso de una expresión no requiere una llamada a una función
# La cadena podría imponer un estilo de escritura específico para crear un título
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'

# Ejercicios Kata4

### Ejercicio 1. Transformar cadenas

In [117]:
# Primero, divide el texto en cada oración para trabajar con su contenido:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
divid= text.split('. ')
divid

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [125]:
# Ahora, define algunas palabras clave para búsqueda que te ayudarán
# a determinar si una oración contiene un hecho.
# Define las palabras pista: average, temperature y distance suenan bien
Palabras = ["average", "temperature", "distance"]

In [127]:
# Cree un bucle para imprimir solo datos sobre la Luna que estén relacionados
# con las palabras clave definidas anteriormente:
# Ciclo for para recorrer la cadena
for texto in divid:
    for Palabra in Palabras:
        if Palabra in texto:
            print(texto)

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [120]:
# Finalmente, actualiza el bucle(ciclo) para cambiar C a Celsius:
# Ciclo para cambiar C a Celsius
for texto in divid:
    for Palabra in Palabras:
        if Palabra in texto:
            print(texto.replace('C','Celsius'))

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

### Ejercicio 2. Formateando cadenas

In [8]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [9]:
# Primero, crea un título para el texto. Debido a que este texto trata sobre 
# la gravedad en la Tierra y la Luna, úsalo para crear un título significativo.
# Utiliza las variables en lugar de escribir.
# Creamos el título
titulo= f'Gravity on the {name}'
print(titulo)

Gravity on the Moon

In [10]:
# Ahora crea una plantilla de cadena multilínea para contener el resto de la 
# información. En lugar de usar kilómetros, debes convertir la distancia 
# a metros multiplicando por 1,000.
plantilla= f"""\nName: '{name}' \nGravity '{planet}' : '{gravity*1000}' m/s2"""
print(plantilla)

Name: 'Moon'
Gravity 'Earth' : '1.6199999999999999' m/s2

In [12]:
# Finalmente, usa ambas variables para unir el título y los hechos.
# Unión de ambas cadenas
union = f"""{titulo.title()} {plantilla}"""
print(union)

Gravity On The Moon
Name: 'Moon'
Gravity 'Earth' : '1.6199999999999999' m/s2

In [14]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
# Comprobamos la plantilla
print(plantilla)

Name: 'Moon'
Gravity 'Earth' : '1.6199999999999999' m/s2

In [16]:
# Pista: print(nueva_plantilla.format(variables))
nuvea_plantilla= "Gravedad de: {nombre} \nNombre planeta: {planeta} \nGravedad en {nombre}: {gravedad} m/s2"
print(nuvea_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Gravedad de: Ganímedes
Nombre planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2